<!-- <input type="text" 
       class="form-control"
       (input)="onUpdateServerName($event)">
       {{serverName}}
       <br> -->
       <input type="text" 
       class="form-control"
       [(ngModel)]="serverName">
       {{serverName}}
       <br>
       
<button class="btn btn-primary" 
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">Add server</button>
<p>{{ allowNewServer }}</p>
<!-- <p [innerHtml]="allowNewServer"></p>
<p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated; else noServer">Server was created server name is  {{serverName}} </p>
<ng-template #noServer>
  <p>No Server was created!</p>
</ng-template>

<app-server *ngFor="let server of servers"></app-server>
<!-- <app-server></app-server> -->
